<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{site.title}}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
    <script src="{{site.baseurl}}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1><a href="http://{{site.username}}.github.io/blog/">{{site.title}}</a></h1>
        <p>小人本住在 苏州的城外 家里有屋又有田 生活乐无边</p>
        <p class="view"><a href="http://{{site.username}}.github.io/blog/">Back to home <small>{{site.username}}/blog</small></a></p>
        <ul>
          <li><a href="http://{{site.username}}.github.io/blog/">Back To <strong>Home</strong></a></li>
        </ul>
      </header>
      <section>
        <h1>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a> {{ page.title }} 
        </h1>
{{ content }}
      </section>
      
      <section class="comments">
        {% if page.comments %}
          {% include comments.ext %}
        {% endif %}
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/{{site.username}}">{{site.username}}</a></p>
      <p><a href="http://{{site.username}}.github.io/blog/">Back to Home</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
